include _mixins.jade

doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title title
		link(rel='stylesheet', href=asset('style.css'))

	body

		script(src=asset('script.js'))